<div class="text-center">
    <small>
        @Html.Raw(XCLCMS.Lib.Common.Comm.GetCurrentApplicationMerchantApp().CopyRight)
    </small>
</div>
@if (null != ViewBag.IsNeedHighlight && ViewBag.IsNeedHighlight)
{
    <script src="https://cdn.bootcss.com/highlight.js/9.12.0/highlight.min.js?v=@(ViewBag.ResourceVersion)"></script>
}
<script src="https://cdn.bootcss.com/jquery_lazyload/1.9.7/jquery.lazyload.min.js?v=@(ViewBag.ResourceVersion)"></script>
<script src="~/Resources/Js/App.js?v=@(ViewBag.ResourceVersion)"></script>