<div class="text-center">
    <small>
        @Html.Raw(XCLCMS.Lib.Common.Comm.GetCurrentApplicationMerchantApp().CopyRight)
    </small>
</div>
@if (null != ViewBag.IsNeedHighlight && ViewBag.IsNeedHighlight)
{
    <script src="~/Resources/Js/highlight/highlight.min.js?v=@(ViewBag.ResourceVersion)"></script>
}
<script src="~/Resources/Js/lazyload/jquery.lazyload.min.js?v=@(ViewBag.ResourceVersion)"></script>
<script src="~/Resources/Js/App.js?v=@(ViewBag.ResourceVersion)"></script>
<script type="text/javascript">
        @if (null != ViewBag.IsNeedBaiduSug && ViewBag.IsNeedBaiduSug)
        {
            @:$LAB.script({ src: "//www.baidu.com/js/opensug.js", charset: "gbk" });
             }
</script>