<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <!--应用号-->
  <add key="AppID" value="900115" />
  <!--文章分类根节点ID-->
  <add key="ArticleTypeRootID" value="300286" />
  <!--商户主账号用户名-->
  <add key="MainUserName" value="myweb"/>
  <!--商户主账号密码-->
  <add key="MainPwd" value="67192FB9BEB8A00F714F665E1DBD7022"/>
  <add key="WebAPIServiceURL" value="http://localhost/XCLCMS.WebAPI/api/"/>
  <!--当前系统所在环境（XCLCMS.Lib.Common.Comm.SysEnvironmentEnum）-->
  <add key="SysEnvironment" value="DEV"/>
</appSettings>