<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <!--应用号-->
    <add key="AppKey" value="ABBCABF58A396B4BD696F837BFA2A3EA" />
    <!--文章分类根节点ID-->
    <add key="ArticleTypeRootID" value="300286" />
    <!--商户主账号用户名-->
    <add key="MainUserName" value="myweb" />
    <!--商户主账号密码-->
    <add key="MainPwd" value="123456" />
    <add key="WebAPIServiceURL" value="http://localhost/XCLCMS.WebAPI/v1/" />
    <!--当前系统所在环境（XCLCMS.Lib.Common.Comm.SysEnvironmentEnum）-->
    <add key="SysEnvironment" value="DEV" />
</appSettings>