@{
    Layout = "~/Views/Layout/Main.cshtml";
}
@model MyBlogWeb.Models.Common.SoVM

<style type="text/css">
    .divSo {
        position: fixed;
        top: 0;
        z-index: 999;
        width: 100%;
        padding-top: 10px;
        background:url("@(Url.Content("~/Resources/Images/banners/"+(int)DateTime.Now.DayOfWeek+".jpg"))") no-repeat center;
        background-size:cover;
        box-shadow: 0px 5px 10px #888888;
    }
</style>

<style type="text/css">
    .inputbox {
        height: 40px;
        font-size: 18px;
    }

    .searchBtn {
        height: 40px;
        font-weight: bolder;
        word-spacing: 2px;
        letter-spacing: 2px;
        font-size: 18px;
    }

    .searchBtnMenu {
        height: 40px;
        margin-left: -5px !important;
    }

    .divSo .label {
        color: #fff !important;
    }

        .divSo .label:hover {
            color: #ddd !important;
        }

    .divSoContent {
        margin-top: 80px;
    }

        .divSoContent .panel-body {
            padding: 0;
        }

        .divSoContent iframe {
            width: 100%;
            height: 750px;
            border: none;
        }

    .divLinks {
        font-size: 18px;
        word-spacing: 5px;
        letter-spacing: 5px;
        color: #888;
    }
</style>

<div ng-app="soApp" ng-controller="so">
    <div class="divSo row">
        <div class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-md-3 control-label"></label>
                <div class="col-md-6">
                    <a href="http://news.baidu.com/" class="label label-info" target="_blank">百度新闻</a>
                    <a href="http://zhidao.baidu.com/" class="label label-info" target="_blank">百度知道</a>
                    <a href="http://music.baidu.com/" class="label label-info" target="_blank">百度音乐</a>
                    <a href="http://baike.baidu.com/" class="label label-info" target="_blank">百度百科</a>
                    <a href="http://ditu.baidu.com/" class="label label-info" target="_blank">百度地图</a>
                    <a href="http://news.google.com/" class="label label-success" target="_blank">谷歌新闻</a>
                    <a href="http://music.google.com/" class="label label-success" target="_blank">谷歌音乐</a>
                    <a href="http://images.google.com/" class="label label-success" target="_blank">谷歌图片</a>
                    <a href="http://maps.google.com/" class="label label-success" target="_blank">谷歌地图</a>
                </div>
                <div class="col-md-3">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label"></label>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="input-group">
                                <input type="text" class="form-control inputbox" id="txtKW" name="q" baiduSug="1" placeholder="输入您要搜索的内容..." value="@Model.Key" />
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-warning searchBtn" id="btnSearch" tabindex="-1">{{currentMenu.txt}}搜索</button>
                                    <button type="button" class="btn btn-success dropdown-toggle searchBtnMenu" data-toggle="dropdown" tabindex="-1">
                                        <span class="caret"></span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                        <li ng-repeat="m in menuList"><a href="javascript:void(0);" ng-click="changeMenu(m.id)"><span class="glyphicon glyphicon-ok" ng-if="currentMenu.id===m.id"></span>{{m.txt}}</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                </div>
            </div>
        </div>
    </div>

    <div class="row divSoContent">
        <div class="col-md-{{currentEnginList.length==1?12:6}}" ng-repeat="m in currentEnginList">
            <div class="panel panel-{{$index%2==0?'info':'success'}}">
                <div class="panel-heading" ng-bind-html="m.txt | htmlContent"></div>
                <div class="panel-body">
                    <iframe data-url="{{m.url}}" src=""></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel  panel-warning divLinks">
    <div class="panel-heading"><span class="glyphicon glyphicon-globe"></span>Internet</div>
    <div class="panel-body">
        <div class="col-md-1">门户：</div>
        <div class="col-md-1"><a href="http://www.qq.com/" target="_blank">腾讯网</a></div>
        <div class="col-md-1"><a href="http://www.ifeng.com/" target="_blank">凤凰网</a></div>
        <div class="col-md-1"><a href="http://www.sina.com.cn/" target="_blank">新浪网</a></div>
        <div class="col-md-1"><a href="http://www.163.com/" target="_blank">网易</a></div>

        <div class="col-md-12"></div>

        <div class="col-md-1">视频：</div>
        <div class="col-md-1"><a href="http://www.youku.com/" target="_blank">优酷</a></div>
        <div class="col-md-1"><a href="http://www.iqiyi.com/" target="_blank">爱奇艺</a></div>
        <div class="col-md-1"><a href="http://www.xiaopian.com/" target="_blank">电影天堂</a></div>
        <div class="col-md-1"><a href="http://tv.cctv.com/live/" target="_blank">CNTV</a></div>

        <div class="col-md-12"></div>

        <div class="col-md-1">节目：</div>
        <div class="col-md-1"><a href="http://list.youku.com/show/spm_a2hww.20023042.search.4_id_zd5c211ba91af11e5a080.html" target="_blank">CX六点半</a></div>
        <div class="col-md-1"><a href="http://www.iqiyi.com/a_19rrgifngp.html#vfrm=2-3-0-1" target="_blank">晓说</a></div>
        <div class="col-md-1"><a href="http://list.youku.com/show/spm_a2hww.20023042.search.4_id_z5bdbf57c947311e3b8b7.html" target="_blank">罗辑思维</a></div>

        <div class="col-md-12"></div>

        <div class="col-md-1">购物：</div>
        <div class="col-md-1"><a href="http://jd.com" target="_blank">京东</a></div>
        <div class="col-md-1"><a href="http://taobao.com" target="_blank">淘宝</a></div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        var search = function () {
            var kw = $.trim($("#txtKW").val());
            if (kw == '') return;
            kw = encodeURIComponent(kw);
            $(".divSoContent iframe").each(function () {
                this.src = $(this).attr('data-url') + kw;
            });
            window.history.pushState(null, "", '@Url.Content("~/Common/So?q=")' + kw);
        };
        search();
        $("body").on("click", "#btnSearch", function () {
            search();
            return false;
        });
        $("#txtKW").on("keyup", function (e) {
            if (e.keyCode == 13) {
                search();
            }
        });
    });

    angular.module('soApp', []).controller('so', function ($scope) {

        var menuList = [{
            id: 1,
            enginId: null,
            txt: '百度谷歌'
        }, {
            id: 2,
            enginId: 'Baidu',
            txt: '百度'
        }, {
            id: 3,
            enginId: 'Google',
            txt: '谷歌'
        }];

        var enginList = [
        {
            id: 'Baidu',
            txt: '百度搜索',
            url: 'https://www.baidu.com/s?word='
        }, {
            id: 'Google',
            txt: '谷歌搜索（请自行VPN，若VPN后无法显示，<a href="https://chrome.google.com/webstore/detail/ignore-x-frame-headers/gleekbfjekiniecknbkamfmkohkpodhe?utm_source=chrome-app-launcher-info-dialog" target="_blank">请安装该扩展</a>）',
            url: 'https://www.google.com.hk/search?q='
        }];

        $scope.currentMenu = null;
        $scope.currentEnginList = [];

        var changeMenu = function (id) {
            $scope.currentMenu = ($.map(menuList, function (n) {
                return n.id === id ? n : null;
            }) || [])[0];

            if ($scope.currentMenu.enginId) {
                $scope.currentEnginList = $.map(enginList, function (n) {
                    return n.id === $scope.currentMenu.enginId ? n : null;
                }) || [];
            } else {
                $scope.currentEnginList = enginList;
            }

            localStorage.setItem("currentMenu",JSON.stringify($scope.currentMenu));
        };

        var localCurrentMenu =JSON.parse(localStorage.getItem("currentMenu") || "null");
        changeMenu(localCurrentMenu ? localCurrentMenu.id : menuList[0].id);

        $scope.menuList = menuList;
        $scope.changeMenu = function (id) {
            changeMenu(id);
        };
    }).filter('htmlContent', function ($sce) { return $sce.trustAsHtml; });
</script>