@{
    Layout = "~/Views/Layout/Main.cshtml";
}
@model MyBlogWeb.Models.Common.SoVM

<style type="text/css">
    .divSo {
        position: fixed;
        top: 0;
        z-index: 999;
        width: 100%;
        padding-top: 10px;
        background:url("@(Url.Content("~/Resources/Images/banners/"+(int)DateTime.Now.DayOfWeek+".jpg"))") no-repeat center;
        background-size:cover;
        box-shadow: 0px 5px 10px #888888;
    }
</style>
<link href="~/Resources/Css/So.css?v=@(ViewBag.ResourceVersion)" rel="stylesheet" />
<style stype="text/css" id="styleIframe"></style>
<script type="text/javascript">
    window.pageConfig.SoDefaultKey = "@(Model.Key)";
</script>
<div id="divSoContainer"></div>
<div class="divSoBottom">
    <a href="~/">&copy;@(DateTime.Now.Year.ToString()) 我的ABC</a>
</div>
<script src="~/Resources/reactblog/dist/bundle.js?v=@(ViewBag.ResourceVersion)"></script>