@{
    Layout = "~/Views/Layout/Main.cshtml";
}
@model MyBlogWeb.Models.Common.SoVM
<style type="text/css">
    .divSo {
        position: fixed;
        top: 0;
        z-index: 999;
        width: 100%;
        padding-top: 10px;
        background:url("@(Url.Content("~/Resources/Images/banners/"+(int)DateTime.Now.DayOfWeek+".jpg"))") no-repeat center;
        background-size:cover;
        box-shadow: 0px 5px 10px #888888;
    }
</style>

<style type="text/css">
    body {
        position: relative;
    }

    .panel {
        margin-bottom: 10px;
    }

    .XCLMainDiv {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .hrBottom, .XCLBottomDiv {
        display: none;
    }

    .inputbox {
        height: 40px;
        font-size: 18px;
    }

    .searchBtn {
        height: 40px;
        font-weight: bolder;
        word-spacing: 2px;
        letter-spacing: 2px;
        font-size: 18px;
    }

    .searchBtnMenu {
        height: 40px;
        margin-left: -5px !important;
    }

    .divSo .label {
        color: #fff !important;
    }

        .divSo .label:hover {
            color: #ddd !important;
        }

    .divSoContent {
        margin-top: 120px;
    }

        .divSoContent .panel-body {
            padding: 0;
        }

        .divSoContent iframe {
            width: 100%;
            border: none;
        }

    .divLinks {
        font-size: 14px;
        word-spacing: 5px;
        letter-spacing: 5px;
        color: #888;
    }

        .divLinks .panel-body {
            padding: 5px;
        }

    .divSoBottom {
        text-align: center;
        font-size: 14px;
    }
</style>
<style stype="text/css" id="styleIframe"></style>

<div id="divSoContainer"></div>
<div class="divSoBottom">
    <a href="~/">&copy;@(DateTime.Now.Year.ToString()) 我的ABC</a>
</div>
<script src="~/Resources/reactblog/dist/bundle.js"></script>
<script type="text/javascript">
    var bingSoCallBackResult = [];
    var bingSoAjaxObject = null;
    var bingSoCallBack = function (m) {
        if (!m) {
            return;
        }
        for (var k in m) {
            if (!m[k] || !m[k].Results || m[k].Results.length == 0 || !m[k].Results[0].Suggests) {
                return;
            }
            bingSoCallBackResult= $.map(m[k].Results[0].Suggests, function (x) {
                return x.Txt;
            });
            return;
        };
        return;
    };
    $(function () {
        $("#txtKW").val("@(Model.Key)");
        var search = function () {
            $(".autocomplete-suggestions").hide();
            var kw = $.trim($("#txtKW").val());
            if (kw == '') return;
            kw = encodeURIComponent(kw);
            $(".divSoContent iframe").each(function () {
                this.src = $(this).attr('data-src') + kw;
                $(this).closest(".panel").find(".linkFullScreen").attr({ "href": this.src });
            });
            window.history.pushState(null, "", '@Url.Content("~/Common/So?q=")' + kw);
        };
        search();
        $("body").on("click", "#btnSearch", function () {
            search();
            return false;
        });
        $("#txtKW").on("keyup", function (e) {
            if (e.keyCode == 13) {
                search();
            }
        }).autoComplete({
            minChars: 1,
            source: function (term, response) {
                bingSoCallBackResult = [];
                bingSoAjaxObject && bingSoAjaxObject.abort();
                bingSoAjaxObject=$.ajax({
                    type:"get",
                    dataType: "jsonp",
                    data: { "q": term },
                    url: "https://api.bing.com/qsonhs.aspx?type=cb",
                    jsonp: "cb",
                    jsonpCallback:"bingSoCallBack",
                    success: function (data) {
                        response(bingSoCallBackResult);
                    }
                });
            }
        });
        var resizeIframe = function () {
            var h = $("body").height() - $(".divLinks").height() - 220;
            $("#styleIframe").html(".divSoContent iframe{height:"+h+"px;}");
        };
        $(window).on("resize", function () {
            resizeIframe();
        });
        resizeIframe();
    });
</script>