<title>@(ViewBag.Title)</title>
<meta name="keywords" content="@ViewBag.KeyWords" />
<meta name="description" content="@ViewBag.Description" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<script src="~/Resources/Js/json2.js?v=@(ViewBag.ResourceVersion)"></script>
<script src="~/Resources/Js/Jquery/jquery-1.11.2.js?v=@(ViewBag.ResourceVersion)"></script>
<link href="~/Resources/Js/bootstrap/css/bootstrap.css?v=@(ViewBag.ResourceVersion)" rel="stylesheet" />
<script src="~/Resources/Js/bootstrap/js/bootstrap.min.js?v=@(ViewBag.ResourceVersion)"></script>
<link href="~/Resources/Css/Base.css?v=@(ViewBag.ResourceVersion)" rel="stylesheet" />
<script src="~/Resources/Js/lazyload/jquery.lazyload.min.js?v=@(ViewBag.ResourceVersion)"></script>
<link href="~/Resources/Js/highlight/tomorrow-night-bright.css?v=@(ViewBag.ResourceVersion)" rel="stylesheet" />
<script src="~/Resources/Js/highlight/highlight.min.js?v=@(ViewBag.ResourceVersion)"></script>
@*<script src="~/Resources/Js/highlight/highlightjs-line-numbers.min.js?v=@(ViewBag.ResourceVersion)"></script>*@
<script src="~/Resources/Js/App.js?v=@(ViewBag.ResourceVersion)"></script>